$primary-font-size: 16px;
$mob-primary-font-size: 14px;

$primary-modal-font-size: 18px;
$title-modal-font-size: 24px;

$mob-primary-modal-font-size: 16px;
$mob-title-modal-font-size: 20px;



$semibold-font-weight: 600px;
$bold-font-weight: 700px;

$primary-text-color: #FFFFFF;
$secondary-text-color: #939393;
$dark-modal-text-color: #0E0E0E;

$accent-color: #DC56C5;
$ascent-color: red;
$btn-color: #4C00FE;

$primary-bg-color: #0E0E0E;
$secondary-bg-color: #FFF2FD;