<div class="backdrop backdrop-hidden" data-modal-team>
  <div class="developers modal-animation">
    <button type="button" class="modal-close-btn" data-close-team>
      <svg class="developers__icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-Close"></use>
      </svg>
    </button>
    <ul class="developers__list">
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/Oleg.jpg"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Oleg</h2>
          <p class="developers__role">Team leader</p>
          <a class="developers__link" href="https://github.com/Olbili" target="_blank">GitHub</a>
        </div>
      </li>
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/Sofia.png"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Sofia</h2>
          <p class="developers__role">Codewriter</p>
          <a class="developers__link" href="https://github.com/MochiBao" target="_blank">GitHub</a>
        </div>
      </li>
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/Nikita.jpg"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Nikita</h2>
          <p class="developers__role">Codewriter</p>
          <a class="developers__link" href="https://github.com/desperadoNikita" target="_blank">GitHub</a>
        </div>
      </li>
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/vorobkalo.png"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Illia</h2>
          <p class="developers__role">Codewriter</p>
          <a class="developers__link" href="https://github.com/vorobkalo2009">GitHub</a>
        </div>
      </li>
