.pagination {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin: 60px 0 0;
}

.pagination__page {
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination-item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;
	cursor: pointer;

	border: 2px solid $accent-color;
	line-height: calc(17.07 / 14);
	color: $primary-text-color;
	font-size: $mob-primary-font-size;

	@include bp(tab) {
		font-size: $primary-font-size;
		line-height: calc(19.5 / 16);
	}

	&--points {
		line-height: calc(17.07 / 14);
		color: $primary-text-color;
		font-size: $mob-primary-font-size;

		@include bp(tab) {
			line-height: calc(21.94 / 18);
		}
	}
}

.current-page {
	color: $accent-color;
	border: 1px solid $accent-color;
	border-radius: 10px 0px;
}


